@import url('//fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

.container{
    font-family: 'Roboto Mono', monospace;
    height: 500px;
    width: 500px;
}

button{
    width: 80px;
    height: 50px;
}